
body{
    background: #141414;
    position: relative;
}

.fixed{
    position: fixed!important;
    width: 100%!important;
    height: 100%!important;
}

img{
    width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
//    pointer-events: none;
}
/* header */
header{
    position:fixed;
    top: 0;
    left: 0;
    background:transparent;
    width:100%;
    z-index:9000;
    transition:.3s ease-in;
}
header.contents{
    background:#fff;
    color:#000;
    transition:.4s ease-in;
}
header.contents a{
    color:#000;
}
header .head{
    height:80px;
    display:-webkit-flex;
    display:flex;
    -webkit-justify-content:-webkit-space-between;
    justify-content:space-between;
    -webkit-align-items: center; /* Safari */
    align-items:         center;
}
/* logo */
header #logo{
    width: 56px;
    height: 56px;
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
header #logo .logo_img img{
    width:auto;
    height:100%;
}

/* lang */
header{
    position:fixed;
    top: 0;
    left: 0;
    background:transparent;
    width:100%;
    z-index:9000;
    transition:.3s ease-in;
}
header.contents{
    background:#fff;
    color:#000;
    transition:.4s ease-in;
}
header.contents a{
    color:#000;
}
header .head{
    height:80px;
    display:-webkit-flex;
    display:flex;
    -webkit-justify-content:-webkit-space-between;
    justify-content:space-between;
    -webkit-align-items: center; /* Safari */
    align-items:         center;
}
header #logo{
    width: 56px;
    height: 56px;
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
header #logo .logo_img{
    display:block;
    width: 56px;
    height: 56px;
    text-align:center;
    -ms-interpolation-mode: bicubic;
}
header #logo .logo_img img{
    width:auto;
    height:100%;
}
header #h_menu ul{
    display:flex;
    padding:0 15px;
}
header #h_menu ul.lang{
    justify-content:flex-end;
    -webkit-justify-content:flex-end;
    align-items:center;
    -webkit-align-items:center;
}
header #h_menu ul.lang a{
    display:inline-block;
    padding:2px 7px;
    font-weight:300;
    border:1px solid #fff;
}
header.contents #h_menu ul.lang a{
    border:1px solid #000;
}
header #h_menu ul.lang li i{
    display:inline-block;
    width:20px;
    height:20px;
    background-image:url(/img/icon_earth.png);
    background-size:contain;
    background-position:center center;
    margin-right:0.5em;
    vertical-align:-5px;
}
header.contents #h_menu ul.lang li i{
    background-image:url(/img/icon_earth_black.svg);
}
header #h_menu ul.menu li{
    color:#fff;
    font-size:16px;
    font-size:1.2rem;
    font-weight:200;
    padding:10px;
}
header.contents #h_menu ul.menu li{
    color:#111;
}
header #h_menu ul.menu li a{
    line-height:1.2;
}
header #h_menu ul.menu li.active a,
header #h_menu ul.menu li:hover a{
    transition: 0.5s;
    color: #a58633;
    border-bottom:2px solid #a58633;
    opacity:1;
}

/* information */
#information h3,
#titles h3,
#studio h3{
    background-image:url(/img/titles_bg.png);
    background-repeat:no-repeat;
    background-position:center top;
    //background-size:100% auto;
    background-size: 100% 2px;
    font-size:24px;
    font-size:2.5vw;
    font-weight:200;
    letter-spacing:.1rem;
    padding:22px;
    color:#fff;
    text-align:center;
}
#information{
    margin-bottom:10%;
    position:absolute;
    bottom:10%;
    z-index:20;
    width:100%;
    top:15%;
    //width:85%;
    left:0;
}
#information .title,
#titles .title{
    width:228px;
    width:20vw;
    margin:0 auto 2.5%;
    margin:0 auto;
}
#information .title h3{

}
#information .info_list{
    width:85%;
//    max-width:1000px;
    margin:0 auto;
    text-align:left;
}
.information-list li,
#information .info_list li{
    border-bottom:1px dotted #999;
    position:relative;
}
.information-list li a,
#information .info_list li a{
    display:block;
    color:#000;
    padding:2% 3%;
}
.information-list li:last-child,
#information .info_list li:last-child{
    border-bottom:none;
    padding:0;
}
#information .info_list li:last-child a{
    padding:3%;
    text-align:center;
    font-size:16px;
    font-weight:200;
}
.information-list li .info_category,
#information .info_list li .info_category{
    margin-bottom:1.5%;
}
.information-list li .info_category span.cate,
#information .info_list li .info_category span.cate{
    display:inline-block;
    background:#937528;
    color:#fff;
    padding:2px 5px;
    font-size:12px;
    font-weight:300;
    text-align:center;
    letter-spacing:0.2px;
    margin-right:1em;
}
.information-list li .info_body p,
#information .info_list li .info_body p{
    font-size:18px;
    font-weight:200;
}
.information-list li .info_body span,
#information .info_list li .info_body span{
    font-size:13px;
    margin-left:1em;
}
.information-list li .more,
#information .info_list li .more{
    position:absolute;
    right:5%;
    top:50%;
    margin-top:-10px;
}
.information-list li a:hover .more,
#information .info_list li a:hover .more{
    right:3%;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.information-list{
//    width:85%;
    width:100%;
    max-width:1000px;
    margin:0 auto;
}
.information-list a:after{
    content:"";
    display:block;
    clear:both;
}
.information-list li,
#information .info_list li{
    background:rgba(255,255,255,0.85);
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.information-list li:hover,
#information .info_list li:hover{
    opacity:.7;
}
.information-list a:hover,
#information .info_list li a:hover{
    opacity:1;
}
.information-list .info_img{
    float:left;
    width:80px;
    height:110px;
}
.information-list .info_img img{
    width:100%;
    height:auto;
}
.information-list .info_contents{
    /*float:left;*/
    margin-left:90px;
    padding-right:90px;
}
.doc-body.info_detail .info_body{
    width:85%;
    max-width:1000px;
    margin:0 auto;
    color:#fff;
}
.info_body .info_cate{
    display:inline-block;
    padding:3px 12px;
    background:#625020;
    color:#fff;
    letter-spacing:1px;
    font-weight:100;
    margin-bottom:30px;
    margin-right:10px;
}
.info_body .info_date{
    font-size:16px;
}
.info_body h3{
    margin-bottom:30px;
    font-size:22px;
    font-weight:200;
    letter-spacing:2px;
}
.information_image{
    float:left;
    width:23.5%;
    margin-right:3%;
}
.information_contents{
    font-size:14px;
    font-weight:100;
    letter-spacing:2px;
    word-break:break-word;
}
.information_contents a{
    color:#625020;
    text-decoration:underline;
}
.r_arrow:after{
    content:"";
    display:inline-block;
    width:8px;
    height:8px;
    border-top:1px solid #cc1718;
    border-right:1px solid #cc1718;
    transform:rotate(45deg);
    margin-left:10px;
}
/* titles */
#titles{
    //position:relative;
    position:absolute;
    margin-top:-10.1%;
    z-index:20;
    width:100%;
    right:0;
    bottom:100%;
    left:0;
    width:85%;
    margin:0 auto 45px;
}
#titles .link{
    position:absolute;
    right:0;
    bottom:1rem;
    margin:auto;
    width:180px;
}
#titles .link a img{
    width:100%;
    height:auto;
}
/* lineup */
#lineup{
    position :relative;
}
#lineup ul{
    display:flex;
    flex-wrap:wrap;
}
#lineup ul li{
    width:20%;
    position:relative;
}
#lineup ul li .poster_img{
    width:100%;
    padding-bottom:141.25%;
    background-size:cover;
    background-position:center;
}
#lineup ul li .poster_img:after{
    content:"";
    display:block;
    background:rgba(0,0,0,0.4);
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

/* img_hover */
main.top {
    overflow:hidden;
}
.gallery .slick-list{
    overflow:visible;   
    overflow:unset;   
}
.gallery li:hover{
    z-index:1000;
    position:relative;
}
.gallery li a:hover{
    opacity:1;
}
.gallery li a{
    color:#000;
}
.gallery li .hover{
    width:100%;
//    display:none;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    opacity:0;
    -webkit-transition:opacity .3s;
    transition:opacity .3s;
}
.gallery li:hover .hover{
    display:block;
    opacity:1;
    -webkit-transition:opacity .3s;
    transition:opacity .3s;
}

.gallery li:hover .hover .hover_box{
    //margin-top:-20%;
    transform:translateY(-10%);
    -webkit-transform:translateY(-10%);
    -moz-transform:translateY(-10%);
    -ms-transform:translateY(-10%);
    box-shadow: 0 0 40px rgba(0,0,0,0.9);
}
.gallery li:hover .hover .hover_box{
/*
    transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
*/
}
.gallery li .hover .poster_img:after{
    background-color:inherit!important;
}
.gallery li .hover .info{
    background:#fff;
    padding:12px 10px 20px;
    height:40px;
    position:relative;
    display:none;
    overflow:hidden;
}
.gallery li .hover .movie_title{
    font-size:0.8rem;
    line-height:1.2;
    width:100%;
    white-space:initial;
    font-weight:bold;
}
.gallery li .hover .year{
    position:absolute;
    left:10px;
    bottom:.5rem;
    font-size:0.7rem;
    line-height:1;
}
.gallery li:hover .hover .info{
    display:block;
}


/* 個別 */
/*
#lineup > .gallery li:hover:nth-child(1) .hover,
#lineup > .gallery li:hover:nth-child(6) .hover,
.slider .slide-first:hover .hover{
    left: 10%;
    right: auto;
}
#lineup > .gallery li:hover:nth-child(5) .hover,
#lineup > .gallery li:hover:nth-child(10) .hover,
.slider .slide-last:hover .hover{
    left: auto;
    right: 10%;
}
*/
